<div class="row">
  <div class="col-6 text-center">
    <h2 class="mb-3">Enregistrement</h2>
    <div>
      <label for="usernameReg">Utilisateur</label>
      <input class="ml-3" id="usernameReg" type="text" name="nameReg" [(ngModel)]="usernameReg">
    </div>
    <div>
      <label for="passwordReg">Mot de passe</label>
      <input class="ml-3" id="passwordReg" type="password" name="passReg" [(ngModel)]="passwordReg">
    </div>
    <div>
      <button class="btn btn-warning" (click)="register()">S'inscrire</button>
    </div>
  </div>

  <div class="col-6 text-center">
    <h2 class="mb-3">Connexion</h2>
    <div>
      <label for="usernameCon">Utilisateur</label>
      <input class="ml-3" id="usernameCon" type="text" name="nameCon" [(ngModel)]="usernameCon">
    </div>
    <div>
      <label for="passwordCon">Mot de passe</label>
      <input class="ml-3" id="passwordCon" type="password" name="passCon" [(ngModel)]="passwordCon">
    </div>
    <div>
      <button class="btn btn-success" (click)="connexion()">Connexion</button>
    </div>
  </div>
</div>

