<div class="row mt-3">
  <div class="col-12 text-center mb-3" id="divGetDate">
    <button class="btn btn-warning" (click)="getData()">Afficher les listes</button>
    <button class="btn btn-warning" (click)="showConnexion()">Afficher les champs d'enregistrement et de connexion</button>
  </div>

  <div *ngIf="APIObject; else errorDiv" class="offset-2 col-8" id="divshowLists">
    <h2 *ngIf="APIObject.utilisateur" class="text-center">Les listes de <b>{{APIObject.utilisateur}}</b></h2>
    <!--listes-->
    <ul class="list-group list-unstyled" *ngFor="let list of APIObject.todoListes; let indexList=index">
      <li class="list-group-item my-3 list{{indexList}}">
        <b>{{list.name}} :</b>
        <div class="inputListEdit listToEdit{{indexList}}">
          <input type="text" placeholder="{{list.name}}" [(ngModel)]="list.name">
        </div>
        <button class="fas fa-trash mx-2" (click)="deleteList(indexList)"></button>
        <button class="fas fa-edit mx-2" (click)="editList(indexList)"></button>

        <ul class="list-group list-unstyled my-3" *ngFor="let listItem of list.elements; let indexItem=index">
          <li class="list-group-item">
            <span id="item{{indexItem}}">{{listItem}}</span>
            <button class="fas fa-trash mx-2" (click)="deleteListItem(indexList, indexItem)"></button>
            <div class="inputListEdit listToEdit{{indexList}}">
              <input type="text" placeholder="{{listItem}}" [(ngModel)]="listItem">
            </div>
            <!--delete the listItem-->
          </li><!-- fin de l'item courant-->

        </ul>
        <div class="inputListEdit listToEdit{{indexList}}">
          <button class="btn btn-success" (click)="editToAPI(indexList)">Valider la modification</button>
        </div>

        <div class="inputListAdd{{indexList}}"><!-- formulaire création d'un nouvel item-->
          <input type="text" placeholder="Nouvelle tâche" [(ngModel)]="newListItem">
          <button class="fas fa-plus-circle mx-2" (click)="addListItem(indexList)"></button>
        </div>

      </li> <!-- fin de la liste courante-->

    </ul>

    <div class="divNewList"> <!-- ajout nouvelle liste -->
      <h2 class="text-center">Ajouter votre liste</h2>

      <label for="newListname">Nom :
        <input type="text" [(ngModel)]="newList.name" id="newListname">
      </label>
      <ul class="list-group">
        <li class="list-group-item">Item : <input type="text"
                                                  [(ngModel)]="newList.elements[0]"
                                                  class="newListItem"
        ></li>
        <li class="list-group-item">Item : <input type="text" [(ngModel)]="newList.elements[1]" class="newListItem">
        </li>
      </ul>
      <button class="btn btn-success" (click)="addList()">Ajouter</button>
    </div>
  </div>

  <ng-template #errorDiv><!--message d'erreur-->
    <div class="offset-2 col-8 my-3">
      <p class="text-center text-warning bg-dark p-3">Vous n'êtes pas connecté. Authentifiez vous pour afficher vos todo
        listes !</p>
    </div>
  </ng-template>
</div>
